.active{
    color: yellow;
    border-bottom:3px solid yellow;
    padding-bottom: 0.5rem;
}

/* const projects = [
  {
    title: "Flower App",
    img: Flower,
    tech: ["Frontend", "React", "Tailwind"],
    link: "https://flower-store.onrender.com",
    github: "https://github.com/Divinejay-001/Flower-website",
  },
  {
    title: "Headset Website",
    img: Headset,
    tech: ["Frontend", "React"],
    link: "https://headset-dcj.onrender.com",
    github: "https://github.com/Divinejay-001/Headset-website",
  },
  {
    title: "Shophere Ecommerce",
    img: Eccom,
    tech: ["MERN Stack"],
    link: "https://shoppy-cx1x.onrender.com",
    github: "https://github.com/Divinejay-001/Shoppy",
  },
  {
    title: "VistaXplore",
    img: Travel,
    tech: ["Frontend", "React"],
    link: "https://vistaxplore.onrender.com",
    github: "https://github.com/Divinejay-001/VistaXplore",
  },
  {
    title: "CashMind (MoneyNest)",
    img: Cashmind,
    tech: ["MERN Stack", "Tailwind"],
    link: "https://moneynest001.netlify.app/",
    github: "https://github.com/Divinejay-001/MoneyNest",
  },
  {
    title: "Collabora",
    img: 'https://i.pinimg.com/736x/a3/d5/22/a3d522685ba5f133791fac60c97d8a13.jpg',
    tech: ["MERN Stack", "Tailwind"],
    link: "http://coollabora.netlify.app",
    github: "https://github.com/Divinejay-001/Collabora",
  },
]; */


