@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
  }
  
  /* Scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Change to your desired track color */
    border-radius: 10px; /* Optional: makes the track rounded */
    
  }
  
  /* Scrollbar thumb (scroll handle) */
  ::-webkit-scrollbar-thumb {
    background:purple; /* Change to your desired thumb color */
    border-radius: 10px; /* Optional: makes the thumb rounded */
  }
  
  /* Scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: purple; /* Change color when hovered */
  }
  